.bn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
    height: 5rem;
    text-align: center;
    margin-left: 100px;
    /* border: 1px solid red; */
    align-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-left: 0;
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.6), black, rgba(255, 255, 255, 0.6));
}
.button{
    background-image: none;
    background-color: #ffcb05;
    border: .2rem solid #3d7dca;
    height: 2rem;
    width: 6rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #003a70;
}
.button:hover{
    box-shadow: 0 0 1rem red;
    border: .2rem ridge #003a70;
}
.label1{
    font-family: 'poke2';
    position: absolute;
    padding-right: 5rem;
    color:#3d7dca;
}