@font-face {
    font-family: 'poke1';
    src: url(../../fonts/PokemonSolid.ttf);
}
@font-face {
    font-family: 'poke2';
    src: url(../../fonts/Pokemon\ Hollow.ttf);
}
button{
    height: 1.2rem;
    width: 1.2rem;
    margin-top: .5rem;
    border: 0 solid transparent;
    background-image: url('../../Multimedia/IMG/Ultraball.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: .75em;
}
.bus{
    background-color: #ffcb05;
    border: 0.2rem solid #3d7dca;
    border-radius: 1rem;
    height: 1.8rem;
    margin-bottom: 2rem;
}
label{
    font-family: 'poke1';
    color: #ffcb05;
    font-size: 275%;
}
.label0{
    font-family: 'poke1';
    color: #ffcb05;
    margin-top: .3rem;
    margin-left: .2rem;
}
.label1{
    font-family: 'poke2';
    position: absolute;
    padding-right: 5rem;
    color:#3d7dca;
    padding-top: -3rem;
    margin-left: 1.9rem;
}