.fondo{
    height: 12rem;
    width: 8rem;
    border-radius: 1.75rem;
    border: .65rem solid black;
    background: linear-gradient( rgba(255, 0, 0, 0.842), rgba(255, 0, 0, 0.534), black, rgba(255, 255, 255, 0.658), rgb(255, 255, 255));
    /* display: grid; */
    margin-left: 4.5rem;
    margin-top: 1.5rem;
}
h1{
    font-size: 1rem;
}
.nom{
    margin-top: .25rem;
    height: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.img{
    height: 6.5rem;
    width: 6.5rem;
    margin-top: 1rem;
    margin-left: .55rem;
    background-size: cover;
}
.PT{
    margin-top:.7rem;
    height: 3rem;
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, minmax(1.05rem, 1.15rem));
    flex-direction: row;
}