@font-face {
    font-family: 'poke1';
    src: url('../../../fonts/PokemonSolid.ttf');
}
@font-face {
    font-family: 'poke2';
    src: url('../../../fonts/Pokemon\ Hollow.ttf');
}
@keyframes pktipos {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
@keyframes tracking-out-expand-forward-top{

    0%{
        transform:translateZ(0) 
        translateY(0);
        opacity:1
    }
    60%{
        opacity:.8
    }
    100%{
        letter-spacing:1em;
        transform:translateZ(300px) translateY(-200px);
        opacity:0
    }
}
body{
    background-image: url('../../../Multimedia/IMG/inicialesG1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
form{}
.tracking-out-expand-forward-top{
    animation:tracking-out-expand-forward-top 0.4s linear both
}
.pag{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-items: center;
}
.ingreso{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginu{
    width: fit-content;
    display:flex;
    align-items: center;
}
.loginp{
    width: fit-content;
    display:flex;
    align-items: center;
}
.ingresob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg{
    padding: 1rem;
    width: fit-content;
}
.reg button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    border-radius: .75rem;
}
.reg button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#458B95ff, #1C4B27ff, #9C2B2Fff, #E3E22Bff, #1553E0ff, #87D3F5ff, #A52A6Cff, #5F2C89ff, #AA1F25ff, #010100ff);
    background-size: 800%;
    border-radius: .7rem;
    filter:blur(.5rem);
    animation: pktipos 30s linear infinite;
}
.reg button:active{
    animation:tracking-out-expand-forward-top 0.6s linear both
}
h1::first-letter{
    font-size: 100%;
    font-family: 'poke1';
}
label{
    font-size: 2em;
    font-family: 'poke1';
    color: #ffcb05;
}
.label1{
    font-family: 'poke2';
    position: absolute;
    padding-right: 5rem;
    color:#3d7dca;
}
.inv{
    padding: 2rem;
    display: grid;
    align-items: center;
    width: fit-content;
}
.bot{
    padding: 5rem;
    display: grid;
    align-items: center;
}
.bot button{
    height: 3.9rem;
    width: 3.9rem;
    border: 0 solid transparent ;
    background: black;
    /* background-size: cover; */   
    background-position: center center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    border: .01rem solid red;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}
.bot button:hover{
    top: 0;
    left: 0;
    border-radius: 2rem;
    background: url(../../../Multimedia/IMG/POKEDADO.png);
    background-position: center center;
}