.paginador{
    bottom: 3rem;
    height: 2rem;
    width: 69rem;
    display: grid;
    flex-direction: row;
    position: absolute;
    align-content: center;
    justify-content: center;
    margin-left: 18.25rem;/*20rem:*/
    border: 1px solid red;
}
.barra{
    height: 2rem;
    width: 68rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1rem, .6rem));
    grid-template-rows: repeat(auto-fill, minmax(.6rem, .6rem));
    grid-gap: .7rem;
    align-content: center;
    justify-content: center;
}
.pag{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffcd05c7;
    color: #003a70;
    border: .1rem solid #3d7dca;
    border-radius: .3rem;
}
.pag:hover{
    transform: scale(1.3);
    background-color: #003a70c4;
    color: #ffcb05;
    border: .1rem solid #3d7dca;
    border-radius: 0rem;
}
.pag:active{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffcb05;
    color: #003a70;
    border: .1rem solid #3d7dca;
    border-radius: .3rem;
    transform: scale(1.3);
}