.select{
    border:.1rem solid #003a70;
    color: #ffcb05;
}
.select:hover{
    cursor: pointer;
    border: .1rem solid #3d7dca;
    transform: scale(1.2);
}
.select option{
    color: #ffcb05;
}
.select option:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: .1rem solid #3d7dca;
}