@font-face {
    font-family: 'poke1';
    src: url(../../../fonts/PokemonSolid.ttf);
}
@font-face {
    font-family: 'poke2';
    src: url(../../../fonts/Pokemon\ Hollow.ttf);
}
.background{
    background: url('../../../Multimedia/IMG/la\ ultima\ cena\ pokemon.jpg') cover center center fixed no-repeat;
}
.pokemon{
    height: 40rem;
    width: 40rem;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 40rem;
    margin-top: 2rem;
    position: absolute;
}
.pokeraza{
    margin-left: 20rem;
    height: 4rem;
    width: 80rem;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.pokemon img{
    width: 30rem;
    height: 30rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
.labeln{
    font-size: 1.5rem;
    margin-left: 13rem;
    margin-top: -.6rem;
    position: absolute;
}
.label1{
    top: 2rem;
    left: 43rem;
    width: 40rem;
    height: 6rem;
    margin-left: 5rem;
    margin-top: 1rem;
    font-family: 'poke2';
    font-size: 5rem;
    position: absolute;
    color:#3d7dca;
    align-items: center;
    justify-content: center;
}
.label1::first-letter{
    text-transform: uppercase;
}
.label2{
    top: 2rem;
    left: 43rem;
    height: 6rem;
    width: 40rem;
    margin-left: 5rem;
    margin-top: 1rem;
    font-family: 'poke1';
    font-size: 5rem;
    position: absolute;
    color: #ffcb05;
    align-items: center;
    justify-content: center;
}
.label2::first-letter{
    text-transform: uppercase;
}
.label3{
    margin-top: -2rem;
    height: 2rem;
    width: 20rem;
    font-family: 'poke2';
    font-size: 1.5rem;
    position: absolute;
    color:#3d7dca;
    align-items: center;
    justify-content: center;
}
.label3::first-letter{
    text-transform: uppercase;
}
.label4{
    margin-top: -2rem;
    height: 2rem;
    width: 20rem;
    font-family: 'poke1';
    font-size: 1.5rem;
    position: absolute;
    color: #ffcb05;
    align-items: center;
    justify-content: center;
}
.label4::first-letter{
    text-transform: uppercase;
}
.dex{
    margin-left: 20rem;
    width: 80rem;
    height: 2rem;
    margin-top: 46rem;
    margin-left: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 10rem));
    grid-template-rows: repeat(auto-fill, minmax(8rem, 10rem));
    align-content: center;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
}
.poketipos{
    bottom: 3rem;
    height: 44rem;
    width: 80rem;
    margin-left: 20rem;
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}
.poketipo1{
    height: 30rem;
    width: 30rem;
    left:20rem;
    margin-top: -17rem;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.poketipo2{
    position: fixed;
    height: 30rem;
    width: 30rem;
    left:67rem;
    margin-top: -17rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.stats{
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: normal;
    margin-left: 41rem;
    margin-top: 36rem;
    width: 35rem;
    height: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1rem, 15rem));
    grid-template-rows: repeat(auto-fill, minmax(1rem, 2rem));
    grid-gap: 1rem;
    position:absolute;
    align-content: center;
    justify-content: center;
    border:1rem solid #7700ff,
}
.pokevida{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokeat{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokeates{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokede{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokedees{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokevel{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokealt{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokepeso{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.user{
    position: relative;
    margin-top: -4rem;
}
/* .pokealt{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 217, 255);
} */