@font-face {
    font-family: 'poke1';
    src: url(../../../fonts/PokemonSolid.ttf);
}
@font-face {
    font-family: 'poke2';
    src: url(../../../fonts/Pokemon\ Hollow.ttf);
}
:root{
    background: url('../../../Multimedia/IMG/fondo\ seleccion.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.pokemon{
    height: 38rem;
    width: 69rem;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20rem;
    position: absolute;
}
.pokeraza{
    top:0;
    margin-left: 20rem;
    height: 6rem;
    width: 69rem;
    display: grid;
    align-items: center;
    justify-content: center;
}
.pokemon img{
    width: 30rem;
    height: 30rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
.labeln{
    font-size: 1rem;
}
.label1{
    top: 2rem;
    left: 35rem;
    width: 40rem;
    height: 6rem;
    font-family: 'poke2';
    font-size: 5rem;
    position: absolute;
    color:#3d7dca;
    align-items: center;
    justify-content: center;
}
.label2{
    top: 2rem;
    left: 35rem;
    height: 6rem;
    width: 40rem;
    font-family: 'poke1';
    font-size: 5rem;
    position: absolute;
    color: #ffcb05;
    align-items: center;
    justify-content: center;
}
.dex{
    width: 40rem;
    height: 2rem;
    margin-top: 35rem;
    margin-left: 34rem;
    display: grid;
    position: absolute;
    align-content: center;
    justify-content: space-around;
}
.poketipos{
    bottom: 3rem;
    height: 44rem;
    width: 69rem;
    margin-left: 20rem;
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}
.poketipo1{
    height: 30rem;
    width: 30rem;
    left:20rem;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.poketipo2{
    position: fixed;
    height: 30rem;
    width: 30rem;
    left:58rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.stats{
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: normal;
    margin-left: 44rem;
    margin-top: 26rem;
    width: 21rem;
    height: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 9rem));
    grid-template-rows: repeat(auto-fill, minmax(1rem, 2rem));
    grid-gap: 1rem;
    position:absolute;
    align-content: center;
    justify-content: center;
}
.pokevida{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokeat{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokeates{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokede{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokedees{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokevel{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokealt{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.pokepeso{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
/* .pokealt{
    width: 8rem;
    height: 2rem;
    top:-1rem;
    bottom: -1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 217, 255);
} */